.nav {
  margin-bottom: 10px;
}

.list {
  display: flex;
  gap: 10px;
  background-color: #1c1c3c;
  padding: 10px;
  border-radius: 10px;
}

.link {
  padding: 10px;
  border: 1px solid #f0f0f0;
  display: inline-block;
  border-radius: 5px;
  color: #f0f0f0;
}

.active {
  background-color: rgba(255, 215, 0, 0.5);
  border-color: #ffd700;
}
