.table {
  max-width: 700px;
  text-align: center;
  border-collapse: collapse;
}

.tableHead {
  background-color: #2a2a2a;
  color: white;
}

.table td {
  border: 1px solid black;
  padding: 2px 70px;
}

.table th {
  border: 1px solid black;
}

.tableBody tr:nth-child(2n) {
  background-color: #d3d3d3;
}

.tableBody tr td:nth-child(1) {
  text-transform: capitalize;
  text-align: start;
}
